.livestream {

    &__iframe {
        display: block;
        width: 100%;
        height: 100%;
    }

    &__modal {
        position: fixed;
        top: 0;
        left: 0;
        z-index: z("modal");
        width: 100%;
        height: 100%;

        &.miniModal {
            pointer-events: none;
        }

        &__background {
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
            height: 100%;
            background-color: rgba(34, 34, 43, 0.5);
            z-index: z("modal");
            transition: all 0.25s ease-in-out;

            .miniModal & {
                pointer-events: none;
                background-color: transparent;
            }
        }

        &__container {
            position: absolute;
            right: 50%;
            bottom: 50%;
            transform: translate(50%, 50%);
            background-color: #1a1a1d;
            border-radius: 6px;
            z-index: z("modal") + 1;
            width: 100%;
            height: 100%;
            box-shadow: 0 6px 16px rgba(34, 34, 43, 0.3);
            transition: all 0.75s ease-in-out;

            @include breakpoint($b-desk) {
                width: 90%;
                height: 80%;
            }

            &__content {
                height: 100%;
                overflow: hidden;
            }

            .miniModal & {
                pointer-events: all;
                transform: translate(0%, 0%) scale(0.25);
                right: 10px;
                bottom: 10px;
                transform-origin: bottom right;
            }
        }

        &__close {
            position: absolute;
            z-index: 1;
            top: 8px;
            right: 4px;
            width: 20px;
            height: 20px;
            font-size: 20px;
            text-align: center;
            font-weight: 100;
            cursor: pointer;
            transition: all 0.75s ease-in-out;
            transform-origin: top right;

            @include breakpoint($b-desk) {
                top: 4px;
                width: 28px;
                height: 28px;
                font-size: 28px;
            }

            &--closing-cross {
                @include breakpoint($b-mob-tab) {
                    transform: scale(0);
                    opacity: 0;
                }

                .miniModal & {
                    transform: scale(4);
                    opacity: 1;
                }
            }

            // ONLY MOB
            &--arrow-down {
                width: 32px;
                height: 32px;
                font-size: 30px;

                .miniModal & {
                    transform: scale(0);
                    opacity: 0;
                }
            }
        }

        &__fullscreen {
            position: absolute;
            top: 0;
            left: 4px;
            width: 24px;
            height: 24px;
            font-size: 24px;
            text-align: center;
            font-weight: 100;
            cursor: pointer;
            transition: all 0.75s ease-in-out;
            opacity: 0;

            @include breakpoint($b-desk) {
                width: 32px;
                height: 32px;
                font-size: 30px;
            }

            .miniModal & {
                transform: scale(4);
                transform-origin: top left;
                opacity: 1;
            }
        }
    }
}
