// Global Form
$collect-bg-color: #F7F7F7;
$collect-txt-color: $c-text;
$collect-font-family: $t-global-font;

// Fields
$collect-input-width: 100%;
$collect-input-bg-color: white;
$collect-label-font-size-mob: vw(10px);
$collect-label-font-size-desk: 14px;

// Checkboxes
$collect-checkmark-color: $c-theme;
$collect-checkbox-label-font-size: 12px;

// Submit Btn
$collect-btn-width-mob: vw(120px);
$collect-btn-width-desk: rem(286px);

.collect {
    background-color: $collect-bg-color;
    color: $collect-txt-color;
    text-align: left;
    font-family: $collect-font-family;
    padding: vhMob(16px) vw(8px);

    @include breakpoint($b-desk) {
        padding: rem(28px) rem(14px);
    }

    &__wrapper {
        position: relative;
        width: 90%;
        margin: auto;
        @include breakpoint($b-desk) {
            margin: auto;
        }
    }

    &__fields {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    &__field {
        flex: 0 1 100%;
        padding: 0 vw(8px);
        background-color: $collect-input-bg-color;
        margin: vw(5px) 0;
        box-shadow: 2px 4px 14px 0px rgba(0, 0, 0, 0.10);
        border-radius: 4px;
        @include breakpoint($b-desk) {
            padding: 0 rem(14px);
            margin: rem(14px) 0;
        }

        // All inputs except checkbox
        & input:not(input[type='checkbox']) {
            width: $collect-input-width;
            // margin-bottom: vhMob(0px);

            // @include breakpoint($b-desk) {
            //     margin-bottom: rem(12px);
            // }
        }

        // Text fields
        &--email,
        &--text,
        &--tel ::v-deep,
        &--postalCode ::v-deep {
            & label {
                font-size: $collect-label-font-size-mob;
                @include breakpoint($b-desk) {
                    font-size: $collect-label-font-size-desk;
                }
            }
            & input {
                padding: vhMob(6px) vw(12px);
                padding-left: 0;
                background-color: $collect-input-bg-color;
                border: none;
                border-radius: 2px;
                width: 100%;
                &::placeholder{
                    color: $c-form-placeholder;
                }
                @include breakpoint($b-desk) {
                    padding: rem(8px) rem(12px);
                    padding-left: 0;
                }
            }
        }
        // &--postalCode {
        //     background-color: transparent;
        // }
        // Checkboxes
        &--checkbox {
            display: grid;
            grid-template-columns: 1.5rem 1fr;
            width: 100%;
            background-color: transparent;
            border: none;
            box-shadow: none;
            padding: 0;
            @include responsive((
                margin: 8px 0 12px
            ));

            & .check-button {
                position: relative;
                background-color: $collect-input-bg-color;
                box-shadow: 2px 4px 14px 0px rgba(0, 0, 0, 0.10);
                border-radius: 4px;
                @include responsive((
                    width: 16px,
                    height: 16px
                ));
            }

            input {
                position: absolute;
                opacity: 0;
                cursor: pointer;
                height: 100%;
                width: 100%;
                left: 0;
                top: 0;
                bottom: 0;
                right: 0;
                z-index: 5;

                // Validate checkmark
                &:checked ~ .checkmark:after {
                    content: "*";
                    font-weight: 500;
                }
            }

            .checkmark {
                position: absolute;
                top: 0;
                left: 0;
                background-color: $collect-input-bg-color;
                right: 0;
                bottom: 0;
                @include responsive((
                    width: 16px,
                    height: 16px
                ));

                &:after {
                    content: "";
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translateX(-50%) translateY(-50%);
                    color: $collect-checkmark-color;
                    height: 110%;
                    font-size: 30px;
                }
            }

            label {
                display: inline-block;
                text-align: left;

                @include responsive((
                    font-size: $collect-checkbox-label-font-size,
                    margin-left: 4px
                ));
            }
        }

        // Submit Btn
        &--submit {
            flex: none;
            padding: 0;
            margin: 0 auto;
            width: fit-content;
        }
    }

    &__error {
        color: #eb0000;
    }
}
