$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts" !default;

$icon-icon-circle-arrow: "\e988";
$icon-icon-voucher: "\e989";
$icon-icon-copy-code-validated: "\e98a";
$icon-icon-copy-code-filled: "\e98b";
$icon-icon-copy-code-stroked: "\e98c";
$icon-slider-arrow: "\e987";
$icon-arrow-mms: "\e986";
$icon-star-half-filled: "\e983";
$icon-star-filled: "\e985";
$icon-arrow-forward: "\e984";
$icon-french-Region: "\e980";
$icon-full-heart: "\e981";
$icon-half-heart: "\e982";
$icon-arrow_down: "\e902";
$icon-arrow_left: "\e903";
$icon-arrow_right: "\e904";
$icon-arrow_up: "\e905";
$icon-back: "\e906";
$icon-burger_menu: "\e92e";
$icon-cross: "\e92f";
$icon-android: "\e907";
$icon-apple: "\e908";
$icon-blog: "\e909";
$icon-facebook: "\e90a";
$icon-google: "\e90b";
$icon-instagram: "\e90c";
$icon-linkedin: "\e90d";
$icon-pinterest: "\e90e";
$icon-snapchat: "\e90f";
$icon-twitter: "\e910";
$icon-whatsapp: "\e911";
$icon-youtube: "\e912";
$icon-star: "\e913";
$icon-check: "\e914";
$icon-audio_description: "\e93f";
$icon-captions: "\e940";
$icon-chapters: "\e942";
$icon-fullscreen_enter: "\e943";
$icon-fullscreen_exit: "\e944";
$icon-hd: "\e945";
$icon-not_allowed: "\e946";
$icon-pause: "\e947";
$icon-play_circle: "\e948";
$icon-play: "\e949";
$icon-replay: "\e94a";
$icon-settings1: "\e94c";
$icon-volume_high: "\e94b";
$icon-volume_low: "\e94d";
$icon-volume_mid: "\e94e";
$icon-volume_mute: "\e94f";
$icon-beauty_thematic: "\e95f";
$icon-camping_thematic: "\e950";
$icon-clothing_thematic: "\e951";
$icon-crafts_garden_thematic: "\e952";
$icon-cruise_thematic: "\e953";
$icon-decoration_thematic: "\e954";
$icon-equipment_supplies_thematic: "\e955";
$icon-fashion_category: "\e956";
$icon-flight_thematic: "\e957";
$icon-flight_hotel_thematic: "\e958";
$icon-furnitures_thematic: "\e959";
$icon-gastronomy_thematic: "\e95a";
$icon-high-tech_thematic: "\e95b";
$icon-home_appliance_thematic: "\e95c";
$icon-hotel_thematic: "\e95d";
$icon-house_category: "\e95e";
$icon-jewelry_watches_thematic: "\e960";
$icon-kitchenware_thematic: "\e961";
$icon-leather_luggage_thematic: "\e963";
$icon-leisure_category: "\e962";
$icon-linens_thematic: "\e964";
$icon-shoes_thematic: "\e965";
$icon-sport_thematic: "\e966";
$icon-tourist_circuit_thematic: "\e96b";
$icon-travel_category: "\e967";
$icon-underwear_bath_thematic: "\e968";
$icon-wine_spirits_thematic: "\e969";
$icon-wines_gastronomy_thematic: "\e96a";
$icon-veepee1: "\e96c";
$icon-veepee2: "\e96d";
$icon-carterose-by-veepee-1: "\e96e";
$icon-carterose-by-veepee-2: "\e971";
$icon-share: "\e97a";
$icon-profile: "\e97b";
$icon-tendre: "\e978";
$icon-switch-bg: "\e977";
$icon-switch-handle: "\e975";
$icon-arrow-down-bis: "\e976";
$icon-carte-rose-1: "\e974";
$icon-vp-logo: "\e970";
$icon-carte-rose-2: "\e96f";
$icon-carte-rose-3: "\e973";
$icon-carte-rose-avantage-1: "\e972";
$icon-carte-rose-avantage-2: "\e97c";
$icon-lock_closed: "\e900";
$icon-lock_open: "\e901";

