// path to assets img : '~@/assets/img/'

$home-background-mob: "https://i.imgur.com/Dvl8ZnB.jpeg";
$home-background-desk: "https://img5.goodfon.com/wallpaper/nbig/a/33/malaia-panda-krasnaia-panda-morda-portret-vzgliad-svet-listi.jpg";

.home {
    position: relative;
    background: url($home-background-mob);
    background-size: 100% 100%;

    &__container {
        position: relative;
        z-index: 1;

        width: 100%;
        height: vw(454px); // not in .home so we can set, for example, a background image which will take more than 100vh and do the transition with next content

        @include breakpoint($b-tab-desk) {
            height: 864px;
            background: url($home-background-desk);
            background-size: 100% 100%;
        }

        &.full-page {
            @extend %fullHeight;
        }

        &__product-img {
            position: absolute;
            bottom: 0;
            transform: translateY(60%);

            width: 100%;
        }

        &__arrow {
            position: absolute;
            bottom: 0;
            left: 0;
            z-index: 10;
            width: 100%;

            text-align: center;
            transform: translateX(0%);

            animation: upDown 2s ease-in-out 0ms infinite;

            ::v-deep .img-mod{
                display: inline-block;
                width: 50px;

                @include breakpoint($b-tab-desk) {
                    width: 70px;
                }
            }
        }
    }
}
