@import "../../../node_modules/frow/frow";

$frow-grid-gutter-width: 8px;
$frow-grid-gutter-width-desk: 24px;

.frow {

    &.gutters {
        margin-left: - calc($frow-grid-gutter-width / 2) !important;
        margin-right: - calc($frow-grid-gutter-width / 2) !important;

        > * {
            padding-left: calc($frow-grid-gutter-width / 2) !important;
            padding-right: calc($frow-grid-gutter-width / 2) !important;
        }

        @include breakpoint($b-desk) {
            margin-left: - calc($frow-grid-gutter-width-desk / 2) !important;
            margin-right: - calc($frow-grid-gutter-width-desk / 2) !important;

            > * {
                padding-left: calc($frow-grid-gutter-width-desk / 2) !important;
                padding-right: calc($frow-grid-gutter-width-desk / 2) !important;
            }
        }
    }
}
