.back-to-home {
    position: fixed;
    top: 5px;
    left: 5px;
    width: 30px;
    height: 0;
    z-index: z('sticky');

    &--privalia {
        top: 0;
        left: 0;
        width: 90px;
    }
}
