<template>
    <section v-if="$config.detectEnv.isDesktop && this.showBackToHome" class="back-to-home" :class="`back-to-home--${lang.site}`">
        <Click id="backToHome" redirectionType="home">
            <Img v-if="lang.site !== 'privalia'" src="back-to-vp.svg" />
            <Img v-else src="back-to-privalia.svg" />
        </Click>
    </section>
</template>

<style scoped lang="scss" src="./BackToHome.scss"></style>
<script src="./BackToHome.js"></script>
