table tr:nth-child(even) td {
    background-color: #e4eff5 !important;
}

table tr:nth-child(odd) td {
    background-color: #f1faff !important;
}

table tr td:first-child {
    white-space: nowrap;
}

table thead {
    background-color: #393939;
    color: #ffffff
}

.table-centered + table td:not(:first-child) {
    text-align: center !important;
}

.table-centered + table td:not(:first-child),
.table-centered + table th:not(:first-child) {
    border-left: 1px solid #cccccc;
}

.table-centered + table td {
    border-bottom: 1px solid #cccccc;
}

.notice {
    background-color: #cce5ff !important;
    color: #004085;
}

.warning {
    background-color: #f8d7da !important;
    color: #721c24;
}
