
<template>
  <div class="carte-verte">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 121 54"
      class="carte-verte__img"
    >
          <g>
            <g class="text">
              <path
                d="M11.215 1.86L9.858 3.18c-.886-.84-2.125-1.32-3.247-1.32-3.187 0-4.604 2.4-4.604 4.8 0 2.34 1.417 4.56 4.604 4.56 1.18 0 2.42-.48 3.306-1.38l1.416 1.44c-1.18 1.2-2.951 1.86-4.722 1.86C2.066 13.14 0 9.96 0 6.6S2.125 0 6.611 0c1.77 0 3.365.6 4.604 1.86zM22.194 10.32l-1.062 2.58h-2.125L24.497.12h2.006l5.313 12.78h-2.243l-1.063-2.58h-6.316zm3.129-7.62l-2.42 5.82h4.781L25.323 2.7zM45.51.24c2.893 0 4.428 2.04 4.428 4.14 0 1.8-.886 3.6-3.424 3.96l3.955 4.62h-2.716l-3.66-4.44h-2.478v4.44h-2.007V.24h5.902zm-3.836 6.42h3.777c1.653 0 2.42-1.08 2.42-2.28 0-1.08-.708-2.28-2.36-2.28h-3.837v4.56zM62.865 2.1L62.865 12.96 60.799 12.96 60.799 2.1 56.726 2.1 56.726.24 66.997.24 66.997 2.1zM77.444 2.1L77.444 5.64 83.642 5.64 83.642 7.5 77.444 7.5 77.444 11.04 84.115 11.04 84.115 13.02 75.378 13.02 75.378.24 83.938.24 83.938 2.1 77.385 2.1 77.385 2.16 77.444 2.16z"
                transform="translate(-841 -4134) translate(0 3733) translate(0 369) translate(841 32) translate(.413)"
              />
            </g>
            <g fill="#0BA100">
              <path
                d="M6.139 13.74L.472 0 4.25 0 7.851 9.72 11.451 0 15.229 0 9.563 13.74zM24.615 3.12L24.615 5.28 30.635 5.28 30.635 8.4 24.615 8.4 24.615 10.56 31.108 10.56 31.108 13.68 21.309 13.68 21.309 0 31.049 0 31.049 3.12zM44.566 0c3.306.06 5.076 2.22 5.076 4.68 0 1.68-.53 3.6-2.892 4.38l3.778 4.68H46.16L43.03 9.48h-1.77v4.26h-3.365V0h6.67zm-3.365 6.42h3.424c1.24 0 1.77-.96 1.77-1.68 0-.84-.53-1.62-1.829-1.62h-3.365v3.3zM62.333 3.12L62.333 13.74 58.969 13.74 58.969 3.12 55.014 3.12 55.014 0 66.347 0 66.347 3.12zM75.733 3.12L75.733 5.28 81.753 5.28 81.753 8.4 75.733 8.4 75.733 10.56 82.226 10.56 82.226 13.68 72.368 13.68 72.368 0 82.108 0 82.108 3.12z"
                transform="translate(-841 -4134) translate(0 3733) translate(0 369) translate(841 32) translate(0 22.2)"
              />
            </g>
          </g>
          <g class="text">
            <path
              d="M.84 1.375c.18-.25.54-.438.9-.438.66 0 1.14.5.96 1.313-.12.75-.72 1.313-1.38 1.313-.36 0-.66-.188-.78-.438L.48 3.5H0L.6 0h.48L.84 1.375zm-.12.875c-.06.5.18.813.6.813s.78-.313.9-.813c.06-.5-.18-.813-.6-.813s-.84.25-.9.813zM5.22 3.313C5.1 4 4.56 4.375 3.9 4.375c-.48 0-.84-.25-1.02-.438l.36-.374c.12.187.36.374.72.374s.72-.187.78-.562l.06-.438c-.24.25-.54.376-.9.376-.54 0-.9-.376-.78-1.126L3.3.938h.48l-.12 1.188c-.06.5.06.688.48.688.36 0 .78-.313.84-.75L5.16.937h.48l-.42 2.375z"
              transform="translate(-841 -4134) translate(0 3733) translate(0 369) translate(841 32) translate(31.24 47.125)"
            />
          </g>
          <g>
            <path
              class="text"
              d="M26.173 7.445c-1.71 0-3.301.234-3.301 2.872v5.745h1.296v-3.165c.59.293 1.356.293 2.005.293 1.768 0 3.3-.235 3.3-2.873 0-2.638-1.532-2.872-3.3-2.872m0 4.63c-1.946 0-2.005-.35-2.005-1.758 0-1.407.06-1.758 2.005-1.758 1.945 0 2.004.41 2.004 1.758 0 1.349-.06 1.759-2.004 1.759M8.488 4.572L4.952 11.666 1.474 4.572 1.415 4.572 0 4.572 4.362 13.131 4.421 13.19 5.541 13.19 9.903 4.572zM40.674 7.445c-.943 0-3.125 0-3.125 2.872 0 2.873 2.182 2.873 3.125 2.873h2.888v-1.114h-2.888c-1.474 0-1.769-.352-1.828-1.407h5.01v-.352c0-2.872-2.121-2.872-3.182-2.872m-1.769 2.169c.118-.704.413-1.055 1.769-1.055 1.414 0 1.768.351 1.827 1.055h-3.596zM33.541 7.445c-.943 0-3.124 0-3.124 2.872 0 2.873 2.18 2.873 3.124 2.873h2.888v-1.114h-2.888c-1.474 0-1.768-.352-1.827-1.407h5.01v-.352c0-2.872-2.18-2.872-3.183-2.872m-1.768 2.169c.118-.704.412-1.055 1.768-1.055 1.415 0 1.768.351 1.827 1.055h-3.595zM18.804 7.445c-.943 0-3.124 0-3.124 2.872 0 2.873 2.181 2.873 3.124 2.873h2.889v-1.114h-2.889c-1.473 0-1.768-.352-1.827-1.407h5.01v-.352c0-2.872-2.122-2.872-3.183-2.872m-1.768 2.169c.118-.704.412-1.055 1.768-1.055 1.415 0 1.769.351 1.828 1.055h-3.596zM11.613 7.445c-.944 0-3.125 0-3.125 2.872 0 2.873 2.181 2.873 3.125 2.873H14.5v-1.114h-2.888c-1.474 0-1.769-.352-1.828-1.407h5.01v-.352c0-2.872-2.121-2.872-3.182-2.872M9.844 9.614c.118-.704.413-1.055 1.769-1.055 1.414 0 1.768.351 1.827 1.055H9.844z"
              transform="translate(-841 -4134) translate(0 3733) translate(0 369) translate(841 32) translate(41.177 37.352)"
            />
            <path
              fill="#EC008C"
              d="M54.998 8.266c-.354.468-.707.82-1.18 1.23-.058.06-.117.06-.058 0 1.474-1.582 3.065-5.158 1.002-8.617-.59.47-1.12 1.055-1.474 1.759C52.64 1.64 51.697.762 50.458 0c0 0-3.005 3.4-1.709 8.266-3.831.527-2.475 3.517-1.827 3.927 0 0 .06 0 0-.059-.236-.351-.825-1.524.413-2.637.648-.587 2.063-.763 2.063-.763-.295-2.344-.295-4.455 1.297-6.8.177.118 2.534 1.173 2.652 4.632.177 2.168-.943 3.927-2.004 4.572-1.945 1.055-4.126 1.524-6.012 1.993-.177.059-.118.059 0 .059 4.48-.176 8.488-2.228 10.02-4.162.295-.352.413-.762.236-.997-.176-.234-.471.176-.59.235m-.706-2.873c-.06-.645-.236-1.348-.472-1.934.413-.88.884-1.231.884-1.231s.943 2.344.118 4.748c-.472 1.465-1.12 2.403-1.415 2.755-.059.059-.118.117-.118.059.767-.938 1.18-2.58 1.003-4.397"
              transform="translate(-841 -4134) translate(0 3733) translate(0 369) translate(841 32) translate(41.177 37.352)"
            />
          </g>
    </svg>

    <p
      class="carte-verte__text"
      v-for="(text, i) in $t('carteVerte')"
      :key="i"
      v-text="text"
    />
  </div>
</template>

<style scoped lang="scss" src="./CarteVerte.scss"></style>
<script src="./CarteVerte.js"></script>
