$app-c-background: white;
$app-container-c-background: transparent;
$header-background-mob: '~@/assets/img/header-background-mob.png';
$header-background-desk: '~@/assets/img/header-background-desk.jpg';
$static-background-mob: '~@/assets/img/static-background-mob.jpg';
$static-background-desk: '~@/assets/img/static-background-desk.jpg';
$offert-color-title: #C41230;
$offert-color-text: #2E2E2E;



#app {
    background: $app-c-background;
}
.app {
    &__container{
        position: relative;
        background: $app-container-c-background;
    }
}
::v-deep .header{
    background-image: url($header-background-mob);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    &__title{
        width: 324px;
        margin: 0 auto;
        h3{
            font-size: 2rem;
            text-align: center;
        }
     
    }
    &__mentions{
        .ml{
            font-size: 0.7rem;
        }
    }

    @include breakpoint($b-tab-desk){
        background-image: url($header-background-desk);
        &__content{
            padding-top: 0.87rem;
        }
        &__title{
            width:100%;
            margin: 0 auto;
            h3{
                font-size: 46px;
                text-align: center;
            }
        }
        &__bloc--bottom{
            padding-bottom: 3.25rem;
        }
        &__mentions{
            top:-0.8vh
        }
        .ml{
            font-size: 1.125rem;
        }
        &__crollTo_icon--img{
            width: 1.5rem;
        }

    }
    
    @include breakpoint($b-xxlarge){
        &__content{
            padding-top: 0.1rem;
        }
    }
}

::v-deep .offer{
    background-color: #C0D7CD;
    padding: 3rem 1rem;
 
    &__img{
        width:10rem ;
        margin: 0 auto;
    }
    &__title{
        margin-bottom:1rem;
        h4{
            font-size: 1.5rem;
            color:$offert-color-title;
            margin-bottom: 1rem;
        }
        .bigBody{
            font-size:0.9rem ;
            font-weight: 400;
            text-align: center;
            color: $offert-color-text;            
        }
    }
    &__subtitle{
        margin-bottom: 1.5rem;
        h2{
            font-size: 1.8rem;
            color:$offert-color-title;
            margin-bottom: 1rem;
        }
    .text{
            font-size: 0.9rem;
            font-weight: 400;
            color: $offert-color-text;
        }
    }
    .miniclock{
            background-color: transparent;
    }
   &__code{
    margin-bottom: 3.938rem;
   }
    &__code_title{
        .smallBody{
            font-size:0.7rem;
            font-weight: 400;
        }
    }
    &__code_copy{
        font-size: 1.25rem;
        font-weight: 900;
    }
    .copycode{
        &__button{
            padding: 0.906rem 1.5rem;
            border: 1px solid #C41230;
            border-radius: 1.875rem;
        }
        &__button__txt{
            color: $offert-color-text;
            font-family: $t-nunito-sans;
            font-size: 0.8rem;
        }
        &__mention{
            color: #2E2E2E;
            font-size: 0.55rem;
            font-weight: 400;
        }
        .icon-rec{
            stroke: #C41230;
        }
    }
    .click{
        &__inner__button{
            background-color: #C41230;
            border-radius:1.875rem ;
        }
    }   
    .timer{

        &__container__inner--bg{
            background-color: white;
            border-radius: 5rem;
            filter: drop-shadow(0 4px 4px rgba(0,0,0,0.25));
            
        }
        &__container__inner__numbers__dots{
            color: $offert-color-title;
            h3{
                font-size: 2.25rem;
                font-weight: bold;
               }
        }
        .customClock{
            padding: 0.2rem 0px;
            margin: 0 0.7rem 0 0;
            width: 6.333333vw;
            height: 7.333333vw;
        }
        .time{
           
            &__value{
                color: $offert-color-title;
               h3{
                font-size: 2rem;
                font-weight: bold;
    
               }
            }
        }
    }
    @include breakpoint($b-tab-desk){
        padding: 6rem 19.15rem; ;

    }
    .timer{
        .customClock{
            width: 10%;
            height: 10%;
        }
        &__container__inner--bg{
            height: 3.5rem;
        }
        .img-mod__image{
            width: 86%;
            height: 93%;
        }
    }

}

::v-deep .staticZone{
    height: 100vh;
    padding-top:3rem;
    padding-bottom:2.5rem;
    background-image: url($static-background-mob);
    background-size: cover;
    background-position: center;
    text-align: center;
    &__container{
        height: 94%;
    }
    &__button{
        align-items: end;
        .click{
            &__inner__button{
                color: #C41230;
                background-color: white;
                border-radius: 1.875rem;
            }
        }
    }
    &__title{
        h3{
            color: #000000;
            font-size: 1.5rem;
            font-weight: 900;
        }
        margin-bottom: 1rem;
    }
    &__subtitle{
        width: 95%;
        margin-left: auto;
        margin-right: auto;
    
    }
    .smallBody{
        font-size: 0.75rem;
        font-weight: 400;
        color: #000000;
    }
    @include breakpoint($b-tab-desk){
        background-image: url($static-background-desk);
    }
}

::v-deep .slider{
    background-color: #C41230;
    
    &__title{
        color: #ffffff;
        padding-left: 1rem;
        padding-right: 1rem;
        
        h3{
            font-size: 1.5rem;
        }
        .smallBody{
            color: #ffffff;
            font-size: 0.8rem;
        }
    }
    &__nav{
        border: none;
        &::after{
            color: #ffffff;
            font-size: 1.5rem;
        }
    }
   
    .click{
        &__inner__button{
            background-color: #ffffff;
            border-radius: 1.875rem;
        } 
        &__inner__button__label{
            color: #C41230;
        &:hover{
            background-color: #ffffff;
        }
        }
    }
    .swiper-pagination-bullet{
        background-color: #ffffff;
    }
    .cards{
        text-align: left;
    }
    .content{
        &__title--subtitle{
        .smallBody{
            color: #C41230;
            font-size: 0.9rem;
        }
    }
    &__title{
        .bigBody{
            color: #000000;
            font-size: 1rem;
            font-weight: 900;
        }
    }
    &__txt{
        .smallBody{
            color: #000000;
            font-size: 0.9rem;
            font-weight: 400;
        }
    }
}
@include breakpoint($b-tab-desk){
    padding: 6rem 15rem;

    .swiper-slide{
        opacity: 0.3;
    }
    .swiper-slide-active{
        opacity: 1;
    }
}
}
::v-deep .blog{
    padding: 48px 16px;
    text-align: center;
    &__title{
        color: #000000;
        h3{
            font-size: 1.5rem;
        }
    }
    &__subtitle{
            .smallBody{
                color: #000000;
                font-size: 0.75rem;
        }
    }
    .cards__card__wrapper .content__title--btn .icon{
        border:0;
        &::before{
            color:#C41230 ;
            font-size: 1.6rem;
            font-weight: 400;
        }
    }
  
    .content{
        &__title{
            color: #C41230;
            font-size: 1.2rem;
        } 
        
    }
    @include breakpoint($b-tab-desk){
        padding: 6rem 15rem; ;
    }
   
}
::v-deep .sticky {
    color: #000000;
    padding-left: 0.7rem;
    padding-right: 0.7rem;
    &__content, .pop-in{
       border-radius: 5rem;
    }
    &__text{
        .bigBody{
            font-size: 0.8rem;
        }
    }
    .click__inner__button{
        background-color: #C41230;
        border-radius: 10rem;
    }
    @include breakpoint($b-tab-desk){
        &__content{
            padding: 1.2rem 2rem;
        }
        // &__wrapper{
        //     width: 40rem;
        //     margin-left: auto;
        //     margin-right: auto;
        // }


    }
}
::v-deep .mention{
    padding: 3rem 1rem;
    p{

        font-size: 0.625rem;
    }
    @include breakpoint($b-tab-desk){
        padding: 3rem 7rem;
        p{
            font-size: 0.55rem;
        }
    }
}