<template>
    <div id="app">
        <!-- <Loader classic type="progressBar"/> -->

        <div v-show="contentInitialized">
            <Debug/>
            <RedirectionPopup/>
            <BackToHome/>
            <Header
                variant="bottom"
                :title="[{ type: 'h3', text: $t('header.title') }]"
                textAlign="center"
                :textScroll="{text:$t('header.textScroll'), type: 'ml'}"
                logo="logo-kitchenaid.png"
            />
            <Offer
                :title="[{ type: 'h4', text: 'Exklusiv bei Veepee' }, { type: 'p', text: 'Zeitlich begrenztes Angebot!<br>Verbleibende Zeit', fontClass: 'mt-1' }]"
                :copyCodeTitle="[{ type: 'smallBody', text: $t('copycode.copytitle') }]"
                :subtitle="[ { type: 'h2', text: 'Bis zu 25% Rabatt' }, { type: 'bigBody', text: 'bei KitchenAid*', fontClass: 'text' }]"
                copyCode="VPKAJUN25"
                idBtn="id"
                timer
                timerDate="June 6, 2024 07:00:00"
                timerTitle=""
            />
            <div class="app__container">

           <div class="staticZone">
            <div class="staticZone__container">
                <Fonts class="staticZone__title" :text="[{ type: 'h3', text: $t('stacking.title')}]"/>
                <Fonts class="staticZone__subtitle" :text="[{ type: 'smallBody', text: $t('stacking.subtitle')}]"/>
            </div>
           <Click class='staticZone__button' label="Jetzt shoppen" button center />
           </div>

            <Slider
                    name="myName2"
                    variant="edito"
                    popInCard
                    loop
                    :title="[
                        { type: 'h3', text: $t('slider.title')},
                        { type: 'smallBody', text: $t('slider.subtitle')}
                    ]"
                    :content="[
                            {
                                title: { text: 'Artisan by you', type: 'bigBody' },
                                subtitle: { text: 'Küchenmaschine', type: 'smallBody' },
                                img: 'blog-card1.png',
                                text: { text: 'Legendäre Küchenmaschine in allen Regenbogenfarben', type: 'smallBody' },
                                id:'button1'
                            },
                            {
                                title: { text: 'Speiseeisbereiter', type: 'bigBody' },
                                subtitle: { text: '', type: 'smallBody' },
                                img: 'blog-card2.png',
                                text: { text: 'Für hausgemachte Slushis, Sorbets und mehr', type: 'smallBody' },
                                id:'button1'
                            },
                            {
                                title: { text: 'Shave Ice-Vorsatz', type: 'bigBody' },
                                subtitle: { text: '', type: 'smallBody' },
                                img: 'blog-card3.png',
                                text: { text: 'Zur Zubereitung von luftigen Dessert und kühlen Getränken', type: 'smallBody' },
                                id:'button1'
                            }
                        ]"
                />
            <div class="blog">
                <Fonts class="blog__title" :text="[{ type: 'h3', text: $t('categories.title')}]"/>
                <Fonts class="blog__subtitle" :text="[{ type: 'smallBody', text: $t('categories.subtitle')}]"/>
                <Cards
                    variant="category"
                    isMobRow
                    :cardsList="[
                        {
                            img: 'category-card1-img.jpg',
                            title: { text: $t('categories.card1'), type: 'bigBody' },
                            id: 'button1'
                        },
                        {
                            img: 'category-card2-img.png',
                            title: { text: $t('categories.card2'), type: 'bigBody' },
                            id: 'button1'
                        },
                        {
                            img: 'category-card3-img.png',
                            title: { text: $t('categories.card3'), type: 'bigBody' },
                            id: 'button1'
                        },
                        {
                            img: 'category-card4-img.png',
                            title: { text: $t('categories.card4'), type: 'bigBody' },
                            id: 'button1'
                        }
                    ]"
                />
            </div>
            </div> <!-- end app__container (do not remove this comment) -->
            <Sticky type="pop-in" position="bottom" trigger=".app__container" />
            <Fonts class="mention" :text="[{ type: 'ml', text: $t('mention.txt')}]"/>
            <Footer/>

            <!-- Background Ghosts for Loader -->
            <img v-for="(bgImages, bgIdx) in getImages" :key="`bg-images-${bgIdx}`" :src="bgImages" alt="" v-loader:nested class="no-display" />
        </div>
    </div>
</template>

<style scoped lang="scss" src="./App.scss"></style>
<script src="./App.js"></script>
